.container {
    display: flex;
    flex-direction: row; /* Stack items vertically */
    padding: 20px;
}

img{
    width: 250px;
    height: auto;
}

.bio{
    border: 3px solid#fca27f;
    text-align: left;
    background-color: #9cc3fc;
    margin-right: 40px;
    font-size: 18px;
    padding: 25px;
    vertical-align: top;
}


h1{
    padding-left: 15px;
    border: 3px solid#fca27f;
    text-align: center;
    background-color: #9cc3fc;
    color: ##5e3b66;
}